<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<title>G3Sem4 Dashboard Admin| Products</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta content="" name="keywords">
	<meta content="" name="description">

	<!-- Favicon -->
	<!--<link rel="icon" th:href="@{${'/assets/img/icon_app.png'}}">-->
	<link rel="icon"
		href="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTmKaidj8sM29pR3V21LdGao-FuG5nnQBZYovHlyNj6jmh1JWgw49C5MkJYbaWpRkbBnxI&usqp=CAU">
	<!-- Google Web Fonts -->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&family=Roboto:wght@500;700&display=swap"
		rel="stylesheet">

	<!-- Icon Font Stylesheet -->
	<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

	<!-- Libraries Stylesheet -->
	<link href="lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
	<link href="lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

	<!-- Customized Bootstrap Stylesheet -->
	<link th:href="@{/css/dashboard/bootstrap.min.css}" rel="stylesheet">

	<!-- Template Stylesheet -->
	<link th:href="@{/css/dashboard/style.css}" rel="stylesheet">

	<link th:href="@{/css/dashboard/dataTable.css}" rel="stylesheet">
	<link th:href="@{/css/dashboard/buttonDataTable.css}" rel="stylesheet">

	<!--<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />
	<link rel="stylesheet" type="text/css"
		href="https://cdn.datatables.net/buttons/2.3.6/css/buttons.dataTables.min.css" />-->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">

</head>

<body>
	<div class="container-fluid position-relative d-flex p-0">



		<th:block th:include="/partials/dashboard/_sidebar"></th:block>

		<!-- Content Start -->
		<div class="content">

			<th:block th:include="/partials/dashboard/_navbar"></th:block>


			<!-- Recent Sales Start -->
			<div class="container-fluid pt-4 px-4">
				<div class="bg-secondary text-center rounded p-4">
					<div class="d-flex align-items-center justify-content-between mb-4">
						<h6 class="mb-0">List of Products</h6>
						
						<a class="" th:href="@{/admin/products/insert}">Add New</a>
					</div>
					<div class="table-responsive">
						<table id="myTable" class="table text-start align-middle table-bordered table-hover mb-0">
							<thead>
								<tr class="text-white">
									<th scope="col">No.</th>
									<th scope="col">Name</th>
									<th scope="col">Prodgroup</th>
									<th scope="col">Subcat</th>
									<th scope="col">Mfger</th>
									<th scope="col">Description</th>
									<th scope="col">sizeX</th>
									<th scope="col">sizeY</th>
									<th scope="col">sizeZ</th>
									<th scope="col">Vol</th>
									<th scope="col">Weight</th>
									<th scope="col">Img1</th>
									<th scope="col">Img2</th>
									<th scope="col">Img3</th>
									<th scope="col">Stl</th>
									<th scope="col">Continuity</th>
									<th scope="col">Active</th>
									<th scope="col">Created at</th>
									<th scope="col">Actions</th>
								</tr>
							</thead>
							<tbody>

								<tr th:each=" pro : ${listProducts}">
									<th th:text="${pro.product_id}"></th>
									<td th:text="${pro.product_name}"></td>
									<div th:each="prod : ${listProdgroups}">
										<div th:if="${pro.prodgroupid == prod.prodgroup_id}">
											<td th:text="${prod.prodgroup_name}"></td>
										</div>
									</div>
									<div th:each="scat : ${listScats}">
										<div th:if="${pro.subcatid == scat.subcat_id}">
											<td th:text="${scat.subcat_name}"></td>
										</div>
									</div>
									<div th:each="mfger : ${listMfgers}">
										<div th:if="${pro.mfgerid == mfger.mfger_id}">
											<td th:text="${mfger.mfger_name}"></td>
										</div>
									</div>
									<!--<td th:text="${pro.product_desc}"></td>-->
									<td>
										<a th:href="@{'/admin/products/viewdetail?id=' + ${products.product_id}}">view detail</a>
									</td>
									<td th:text="${pro.sizeX}"></td>
									<td th:text="${pro.sizeY}"></td>
									<td th:text="${pro.sizeZ}"></td>
									<td th:text="${pro.vol}"></td>
									<td th:text="${pro.weight}"></td>
									<div th:if="${pro.img1 == 'no-image.png'}">
										<td>
											<a class="link" th:href="@{${'/assets/img_errors/' + pro.img1}}"
												target="_blank">
												<img src="https://digitalfinger.id/wp-content/uploads/2019/12/no-image-available-icon-6.png"
													width="80" style="border-radius: 0.8rem;" />
											</a>
										</td>

									</div>
									<div th:unless="${pro.img1 == 'no-image.png'}">
										<td>
											<a class="link" th:href="@{${'/upload/' + pro.img1}}" target="_blank">
												<img th:src="@{${'/upload/' + pro.img1}}" width="80"
													style="border-radius: 0.8rem;" />
											</a>
										</td>
									</div>

									<div th:if="${pro.img2 == 'no-image.png'}">
										<td>
											<a class="link" th:href="@{${'/assets/img_errors/' + pro.img2}}"
												target="_blank">
												<img src="https://digitalfinger.id/wp-content/uploads/2019/12/no-image-available-icon-6.png"
													width="80" style="border-radius: 0.8rem;" />
											</a>
										</td>

									</div>
									<div th:unless="${pro.img2 == 'no-image.png'}">
										<td>
											<a class="link" th:href="@{${'/upload/' + pro.img2}}" target="_blank">
												<img th:src="@{${'/upload/' + pro.img2}}" width="80"
													style="border-radius: 0.8rem;" />
											</a>
										</td>
									</div>
									<div th:if="${pro.img3 == 'no-image.png'}">
										<td>
											<a class="link" th:href="@{${'/assets/img_errors/' + pro.img3}}"
												target="_blank">
												<img src="https://digitalfinger.id/wp-content/uploads/2019/12/no-image-available-icon-6.png"
													width="80" style="border-radius: 0.8rem;" />
											</a>
										</td>

									</div>
									<div th:unless="${pro.img3 == 'no-image.png'}">
										<td>
											<a class="link" th:href="@{${'/upload/' + pro.img3}}" target="_blank">
												<img th:src="@{${'/upload/' + pro.img3}}" width="80"
													style="border-radius: 0.8rem;" />
											</a>
										</td>
									</div>

									<div th:if="${pro.stl == null}">
										<td>No file</td>
									</div>
									<div th:unless="${pro.stl == null}">
										<td>
											<a th:href="@{'/admin/products/3d?id=' + ${pro.product_id}}">View
												details</a>
										</td>
									</div>

									<div th:switch="${pro.product_continuity}">
										<td th:case="0">
											<form action="/admin/products/continuity" method="get">
												<input type="hidden" name="idPro" id="idPro"
													th:value="${pro.product_id}" />
												<button type="submit" class="btn">
													<i class="fa-solid fa-toggle-on text-danger fs-2"></i>
												</button>
											</form>
										</td>
										<td th:case="1">
											<form action="/admin/products/incontinuity" method="get">
												<input type="hidden" name="idPro" id="idPro"
													th:value="${pro.product_id}" />
												<button type="submit" class="btn">
													<i class="fa-solid fa-toggle-off text-danger fs-2"></i>
												</button>
											</form>
										</td>
									</div>
									<div th:switch="${pro.product_active}">
										<td th:case="0">
											<form action="/admin/products/active" method="get">
												<input type="hidden" name="idPro" id="idPro"
													th:value="${pro.product_id}" />
												<button type="submit" class="btn">
													<i class="fa-solid fa-toggle-on text-danger fs-2"></i>
												</button>
											</form>
										</td>
										<td th:case="1">
											<form action="/admin/products/inactive" method="get">
												<input type="hidden" name="idPro" id="idPro"
													th:value="${pro.product_id}" />
												<button type="submit" class="btn">
													<i class="fa-solid fa-toggle-off text-danger fs-2"></i>
												</button>
											</form>
										</td>
									</div>
									<td th:text="${pro.product_createdat}"></td>
									<td class="text-center">
										<form action="/admin/products/edit" method="get">
											<input type="hidden" name="idPro" id="idPro" th:value="${pro.product_id}" />
											<button type="submit" class="btn"><i
													class="fa-solid fa-pen-to-square"></i></button>
										</form>
										<form action="/admin/products/delete" method="post">
											<input type="hidden" name="idPro" id="idPro" th:value="${pro.product_id}" />
											<button type="submit" class="btn"> <i
													class="fa-solid fa-trash"></i></button>
										</form>
									</td>
								</tr>

							</tbody>
						</table>
					</div>
				</div>
			</div>
			<!-- Recent Sales End -->



			<th:block th:include="/partials/dashboard/_footer"></th:block>


		</div>
		<!-- Content End -->


		<!-- Back to Top -->
		<a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
	</div>

	<!-- JavaScript Libraries -->
	<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
	<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.3.6/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.html5.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/2.3.6/js/buttons.print.min.js"></script>

	<!-- Template Javascript -->
	<script th:src="@{/js/main.js}"></script>
	<script type="text/javascript">


		$(document).ready(function () {
			$('#myTable').DataTable({
				dom: 'Bfrtip',
				renderer: {
					"header": "jqueryui",
					"pageButton": "bootstrap"
				},
				buttons: [
					'copy', 'csv', 'excel', 'pdf', 'print'
				]
			});
		});


	</script>
</body>

</html>