<div class="sw-dms-footer sw-grid-flex sw-grid-flex--justify-center sw-grid-flex--wrap" data-coyote-locator="footer">
	<div class="sw-grid-flex__cell-1-1 sw--position-relative">

		<div
			class="sw-grid-flex sw-grid-flex--wrap sw-grid-flex--justify-space sw-dms-footer__top-inner sw--margin-left-auto sw--margin-right-auto  sw--margin-top-9 sw--margin-top-5--mob">

			<div
				class="sw-dms-footer__contact-us sw-grid-flex__cell-1-3 sw-grid-flex__cell-1-1--tab sw--vertical-align-none--mob sw--padding-6--mob">
				<h4 class="sw-dms--color-white sw--display-inline-block sw--font-size-18--mob">
					Ready to get started?</h4>
				<p class="sw-dms--color-white sw--margin-bottom-5">From product development to
					industrial 3D manufacturing, we can help you scale your business.</p>
				<a href="https://business.shapeways.com/partnership#page-block-4c7sv8k3lg2" event-category="Footer"
					event-action="Click - Contact Sales"
					class="sw-dms-button sw-dms-button--rectangle sw-dms-button--red sw-dms-button--big sw--margin-0--mob sw--font-size-15">contact
					sales</a>
			</div>


			<div class="sw-grid-flex__cell-1-2 sw-grid-flex__cell-1-1--tab sw--margin-top-7--mob">

				<div class="sw-dms-footer__menu-container sw-grid-flex sw-grid-flex--wrap-mob">

					<div
						class="sw-grid-flex sw-grid-flex__cell-1-3 sw-grid-flex__cell-1-2--mob sw--margin-right-3 sw--margin-right-0--tab">
						<div
							class="sw-dms-footer__links-group sw--margin-top-4--tab sw--margin-bottom-4--tab sw--margin-top-4--mob sw--margin-bottom-4--mob">
							<h4 class="sw-dms--color-white">Services</h4>
							<ul class="sw--list-style-none sw--margin-0">
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/design"
										event-category="Footer" event-action="Click - Design">3D Design</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16"
										href="/upload-3d-print-files-models" event-category="Footer"
										event-action="Click - Make">3D Printing</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16"
										href="/business/additive-manufacturing" event-category="Footer"
										event-action="Click - Additive">Additive
										Manufacturing</a></li>
								<li class="ssw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16"
										href="https://business.shapeways.com/partnership#page-block-4c7sv8k3lg2"
										event-category="Footer" event-action="Click - Sell">Business</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/marketplace"
										event-category="Footer" event-action="Click - Marketplace">Marketplace</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="//developers.shapeways.com"
										event-category="Footer" event-action="Click - Developers">API</a></li>
							</ul>
						</div>
					</div>


					<div
						class="sw-grid-flex sw-grid-flex__cell-1-3 sw-grid-flex__cell-1-2--mob  sw--margin-right-0--tab sw--padding-left-2">
						<div
							class="sw-dms-footer__links-group sw--margin-top-4--tab sw--margin-bottom-4--tab sw--margin-top-4--mob sw--margin-bottom-4--mob">
							<h4 class="sw-dms--color-white">Support</h4>
							<ul class="sw--list-style-none sw--margin-0">
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/contact"
										event-category="Footer" event-action="Click - Contact Us">Contact Us</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16"
										href="https://support.shapeways.com/hc/en-us" event-category="Footer"
										event-action="Click - Help Center">Help Center</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/materials"
										event-category="Footer" event-action="Click - Materials Guide">3D Materials
										Guide</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/forum"
										event-category="Footer" event-action="Click - Community Forum">Community
										Forum</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/education-discount"
										event-category="Footer" event-action="Click - Developers">For
										Students</a></li>
							</ul>
						</div>
					</div>


					<div class="sw-grid-flex sw-grid-flex__cell-1-3 sw-grid-flex__cell-1-2--mob sw--padding-left-1">
						<div
							class="sw-dms-footer__links-group sw--margin-top-4--tab sw--margin-bottom-4--tab sw--margin-top-4--mob sw--margin-bottom-4--mob">
							<h4 class="sw-dms--color-white">Shapeways</h4>
							<ul class="sw--list-style-none sw--margin-0">
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/about"
										event-category="Footer" event-action="Click - Magazine">About</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/blog/"
										event-category="Footer" event-action="Click - Magazine">Blog</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/presscorner"
										event-category="Footer" event-action="Click - Press">Press</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16" href="/careers"
										event-category="Footer" event-action="Click - Careers">Careers</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mbb"><a
										class="sw-dms-footer__link sw--font-size-16" href="/gifts/cards"
										event-category="Footer" event-action="Click - Gift Cards">Gift Cards</a></li>
								<li class="sw--padding-vert-2--mob sw--padding-left-0--mob"><a
										class="sw-dms-footer__link sw--font-size-16"
										href="https://info.shapeways.com/subscribe-3d-print-newsletter"
										event-category="Footer" event-action="Click - Newsletter"
										target="_blank">Newsletter
										Signup</a></li>
							</ul>
						</div>
					</div>

				</div>

			</div>

			<div
				class="sw-grid-flex sw-grid-flex__cell-1-1 sw-grid-flex--justify-space sw-grid-flex--align-flex-end sw-grid-flex__cell-1-1--tab sw-grid-flex__cell-1-1--mob sw--margin-left-auto">

				<div
					class="sw-grid-flex__cell-1-2--tab sw-grid-flex--justify-center--tab sw-grid-flex--justify-center--mob">
					<div
						class="sw-dms-footer__links-group sw--margin-top-4--tab sw--margin-bottom-0--tab sw--margin-top-4--mob">
						<ul class="sw--list-style-none sw--margin-0">
							<li>
								<a class="sw-dms-footer__link sw--font-size-16"
									href="https://www.shapeways.com/wp-content/uploads/2023/02/TS-739098-1-2-1_merged.pdf"
									event-category="Footer" event-action="Click - ISO Certificate" target="_blank"
									aria-label="ISO Certificate logo">
									<div class="sw-iso-cert"></div>
								</a>
							</li>
						</ul>
					</div>
				</div>


				<div
					class="sw-grid-flex__cell-1-2--tab sw-grid-flex sw-grid-flex--justify-flex-end sw-grid-flex--justify-center--tab sw-grid-flex--justify-center--mob sw--margin-top-4--tab sw--margin-bottom-0--tab sw--margin-top-4--mob">
					<ul
						class="sw--list-style-none sw--margin-0 sw-dms-footer__social-icons sw-grid-flex sw-grid-flex--justify-space">
						<li class="sw--line-height-1 sw--padding-vert-2--mob sw--padding-left-0--mob">
							<a event-category="Footer" event-action="Click - Social - LinkedIn"
								class="sw--text-decoration-none" href="https://www.linkedin.com/company/shapeways/"
								title="Shapeways on LinkedIn" aria-label="Shapeways on LinkedIn" target="_blank">
								<i class="sw-dms-footer__social_link bi bi-linkedin"></i>
							</a>
						</li>
						<li class="sw--line-height-1 sw--padding-vert-2--mob sw--padding-left-0--mob">
							<a event-category="Footer" event-action="Click - Social - Twitter"
								class="sw--text-decoration-none" href="https://twitter.com/shapeways/"
								title="Shapeways on Twitter" aria-label="Shapeways on Twitter" target="_blank">
								<i class="sw-dms-footer__social_link bi bi-twitter"></i>
							</a>
						</li>
						<li class="sw--line-height-1 sw--padding-vert-2--mob sw--padding-left-2--mob">
							<a event-category="Footer" event-action="Click - Social - Facebook"
								class="sw--text-decoration-none sw--padding-vert-2--mob" href="http://shpws.me/oDkV"
								title="Shapeways on Facebook" aria-label="Shapeways on Facebook" target="_blank">
								<i class="sw-dms-footer__social_link bi bi-facebook"></i>
							</a>
						</li>
						<li class="sw--line-height-1 sw--padding-vert-2--mob sw--padding-left-0--mob">
							<a event-category="Footer" event-action="Click - Social - Instagram"
								class="sw--text-decoration-none" href="https://instagram.com/shapeways"
								title="Shapeways on Instagram" aria-label="Shapeways on Instagram" target="_blank">
								<i class="sw-dms-footer__social_link bi bi-instagram"></i>
							</a>
						</li>
						<li class="sw--line-height-1 sw--padding-vert-2--mob sw--padding-left-0--mob">
							<a event-category="Footer" event-action="Click - Social - Youtube"
								class="sw--text-decoration-none" href="http://shpws.me/biTQ"
								title="Shapeways on Youtube" aria-label="Shapeways on Youtube" target="_blank">
								<i class="sw-dms-footer__social_link bi bi-youtube"></i>
							</a>
						</li>
					</ul>
				</div>

			</div>
		</div>

	</div>
	<div class="sw--margin-top-6 sw--margin-top-0--tab sw--margin-bottom-6 sw-grid-flex__cell-1-1">

		<div
			class="sw-dms-footer__bottom sw-grid-flex--dir-column-reverse--mob sw-grid-flex--dir-column-reverse-tab sw-grid-flex sw-grid-flex--wrap--tab sw-grid-flex--justify-space sw-grid-flex--align-center sw--margin-left-auto sw--margin-right-auto">
			<div
				class="sw-grid-flex sw-grid-flex__cell-1-1--tab sw-grid-flex--justify-center--tab sw-grid-flex--wrap-mob">
				<span class="sw-grid-flex sw-grid-flex--justify-center sw-grid-flex__cell-1-1--mob sw-dms-footer__link">
					&copy; 2008 - 2023 Shapeways, Inc.
				</span>
				<ul
					class="sw--list-style-none sw--margin-0 sw-grid-flex sw-grid-flex--justify-center sw-grid-flex__cell-1-1--mob sw--margin-right-9 sw--margin-left-9 sw--margin-right-0--mob">
					<li class="sw--margin-right-9 sw--margin-right-5--mob"><a class="sw-dms-footer__link"
							href="/legal/privacy-statement">Privacy</a></li>
					<li class="sw--margin-right-9  "><a class="sw-dms-footer__link"
							href="/terms_and_conditions">Terms</a></li>
					<li class="sw--margin-right-9 sw--margin-right-4--mob"><a class="sw-dms-footer__link"
							href="/business/promo-terms">Promo Terms</a></li>
					<li class><a class="sw-dms-footer__link" href="/legal/content_policy">Content
							&amp; Copyright</a></li>
				</ul>
			</div>
		</div>

	</div>
</div>